/* Dark mode colors. */
:root {
	--sl-color-accent-low: #342848;
	--sl-color-accent: #bc92ff;
	--sl-color-accent-high: #bc92ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #2a2a2a;
	--sl-color-black: #222222;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #dec9ff;
	--sl-color-accent: #a581df;
	--sl-color-accent-high: #342848;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}
